<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Топпинги</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            {% for topping in toppings %}
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="{{ topping.picture.url }}" class="card-img-top cake-image" alt="{{topping.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ topping.name }}</h5>
                        <button class="btn" id="btn1">Выбрать</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/cakes.js' %}"></script>
</body>
</html>